.nav_a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.nav_a:after {
  display: block;
  content: "";
  width: inherit;
  border-bottom: solid 2px rgb(15, 7, 0);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav_a:hover:after {
  transform: scaleX(1);
}


@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}
